/* A Sample CSS File */

/* A sample CSS file. This is a .css file for test and demonstration purposes. */


body {
  background: #c9c9c9;
  text-align: center;
  margin: 0px;
  padding: 0px;
}